<link rel="stylesheet" href="/static/style.css" type="text/css">

<form action="/login" method="POST">
    {{ form.csrf_token }}
    {{ form.name }}
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Spell Checker</h1> 
                    <h2>Login</h2>
            </div>
            <div class="col-md-8">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                           <div id=success class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="login-form">
                <div class="control-group">
				    <input type="text" class="login-field" value="" placeholder="username" name="username">
                    <label class="login-field-icon fui-user" for="login-name">
                    </label>
                    {% if form.username.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="control-group">
				    <input id=uname type="password" class="login-field" value="" placeholder="password" name="password">
                    <label class="login-field-icon fui-lock" for="login-pass">
                    </label>
                    {% if form.password.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}                
                </div>
                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
            </div>
        </div>
    </div>
</form>