<link rel="stylesheet" href="/static/style.css" type="text/css">

<form action="/spell" method="POST">
    {{ form.csrf_token }}
    {{ form.name }}
    <div class="spell-checker">
        <div class="login-screen">
            <div class="app-title">
                <h1>Spell Checker</h1> 
            </div>
            <div class="control-group">
                <textarea type="textarea" name="content" id="content">
                </textarea>
                <label class="login-field-icon fui-lock" for="login-pass">
                </label>
            </div class="spell-buttons">
                <input type="submit" name="click" value="Spell Check" class="btn btn-primary btn-large btn-block spell-buttons">
                <input type="submit" name="click" value="Log Out" class="btn btn-primary btn-large btn-block spell-buttons">
            </div>
        </div>
    </div>
</form>