<link rel="stylesheet" href="/static/style.css" type="text/css">

<form action="/spell" method="POST">
    {{ form.csrf_token }}
    {{ form.name }}
    <div class="spell-checker">
        <div class="app-title">
            <h1>Spell Checker</h1> 
        </div>
        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category != "results" %}
                            <div id={{category}} class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="control-group spell-checker-input">
            <textarea type="textarea" name="content" id="content" placeholder="">
            </textarea>
        </div>
        <input type="submit" name="click" value="Spell Check" class="btn btn-primary btn-large btn-block spell-buttons">
        <input type="submit" name="click" value="Log Out" class="btn btn-primary btn-large btn-block spell-buttons">
      
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == "results" %}
                            <div class="app-title">
                                <h1>Spell Checker - Results</h1>
                            </div>
                            <div id=inputtext class="spell-checker-results">
                                <span>
                                   {{ message }} 
                                </span>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</form>
